.background    { background: rgb(50, 193, 21);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(226, 37, 0); }
.wall          { background: purple;   }
.floater	   { background: rgb(68,255, 231);	}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
